* {
	margin : 0;
	padding: 0;
}
body { 
	direction: rtl;
	margin : 0;
	padding: 0;
	background-color : #330000;
	font-family: Vazir;
	color:#A9F0F9 ;
	line-height: 200%;
}
header {
	background-color: #330000;
	height: 150px;
}
.logo {
	vertical-align: middle;
	line-height:140px;
}

h1 {
	display : inline;
	color : #09DCD5; 
	line-height:140px;
	font-size: 40;
	margin-right : 10px;
	font-weight : bolder;
}
nav {
	width : 100%;
	height: 70px;
	background-color: #1a0000 ;
}
ul {
	
}
ul li {
	list-style: none;
	display:inline-block;
	float: right;
	line-height:70px;
}
ul li a {
	display: block;
	text-decoration: none;
	font-size: 20px;
	color : white;
	padding: 0 30px;
}
ul li a:hover {
	color : black;
	background-color : #8A8D8D;
}
ol {
	list-style: upper;
	margin-right : 30px;
}
.abc {
	color : white;
}
span {
	margin-right : 10px;
}
p {
	margin-right : 10px;
}
h2 {
	margin-right : 10px;
}
form {
	margin-right : 10px;
}
.pic {

	border-color:red;
}